################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/caves-of-qud-mod-jam-2025-reanimated-monster-mash.sln
/caves-of-qud-mod-jam-2025-reanimated-monster-mash.csproj
/Witch Hunters/Scripting
/obj
/.vs
/.dotnet/obj/Debug/netstandard2.0
